.task {
    border: 1px solid gray;
    padding: 20px;
    margin: 10px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.task span {
    padding-right: 10px;
}

.task .actions {
    color: blue;
}